@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.cardView{

  background-color: #fa824c;
  background-repeat: repeat-x;
  border-radius:10px;
  padding-top: 15px;
  width:550px;
  height: 170px;
}

.cardView:hover{
  box-shadow: 0 8px 16px 0 grey;
}

.segment{
  padding-top: 15px;
  height:1px;
  width: 200px;

}

.button{
  background-color: #fa824c;
}

.Tab {
    font-family: "Ubuntu";
    font-weight: 200 !important;
    padding:20px !important;
    text-align: center;
    color: #fa824c !important;

}

.info{
    font-family: "Ubuntu";
    font-weight: 200 !important;
    padding-top:20px !important;
    padding-left: 20px !important;
    padding-bottom: 50px;
    text-align: center;
    color: white !important;
    font-size: 25px
}

.info2{
    font-family: "Ubuntu";
    font-weight: 200 !important;
    padding-top:20px !important;
    padding-left: 20px !important;
    text-align: center;
    color: white !important;
}
